<a href="https://colab.research.google.com/github/KimJisanER/KimJisan_data/blob/main/3rd_travel_insurance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [110]:
import pandas as pd
train = pd.read_csv("/content/drive/MyDrive/빅분기 3회/train.csv")
test = pd.read_csv('/content/drive/MyDrive/빅분기 3회/test.csv')

# 보험가입 확률을 묻는 문제

# 출력형태 
# index,y_pred
# 0,0.15246735144689827
# 1,0.9615112924356346
# 2,0.15131398160778645
# 3,0.23663288296712173
# 4,0.9385824940846587
# 5,0.15738583559845978

In [111]:
print(train.head().T)
print(test.head().T)

                                                0  ...                  4
Unnamed: 0                                   1704  ...               1268
Age                                            26  ...                 33
Employment Type      Private Sector/Self Employed  ...  Government Sector
GraduateOrNot                                 Yes  ...                Yes
AnnualIncome                              1400000  ...            1000000
FamilyMembers                                   3  ...                  5
ChronicDiseases                                 1  ...                  0
FrequentFlyer                                  No  ...                 No
EverTravelledAbroad                           Yes  ...                Yes
TravelInsurance                                 0  ...                  1

[10 rows x 5 columns]
                                     0  ...                             4
Unnamed: 0                        1569  ...                           101
Age                                 27  ...                            33
Employment Type      Government Sector  ...  Private Sector/Self Employed
GraduateOrNot                      Yes  ...                           Yes
AnnualIncome                    500000  ...                       1500000
FamilyMembers                        5  ...                             3
ChronicDiseases                      0  ...                             1
FrequentFlyer                       No  ...                           Yes
EverTravelledAbroad                 No  ...                           Yes

[9 rows x 5 columns]

In [112]:
print(train.info())
print(test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1490 entries, 0 to 1489
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           1490 non-null   int64
 1   Age                  1490 non-null   int64
 2   Employment Type      1490 non-null   object
 3   GraduateOrNot        1490 non-null   object
 4   AnnualIncome         1490 non-null   int64
 5   FamilyMembers        1490 non-null   int64
 6   ChronicDiseases      1490 non-null   int64
 7   FrequentFlyer        1490 non-null   object
 8   EverTravelledAbroad  1490 non-null   object
 9   TravelInsurance      1490 non-null   int64
dtypes: int64(6), object(4)
memory usage: 116.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 497 entries, 0 to 496
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           497 non-null    int64
 1   Age                  497 non-null    int64
 2   Employment Type      497 non-null    object
 3   GraduateOrNot        497 non-null    object
 4   AnnualIncome         497 non-null    int64
 5   FamilyMembers        497 non-null    int64
 6   ChronicDiseases      497 non-null    int64
 7   FrequentFlyer        497 non-null    object
 8   EverTravelledAbroad  497 non-null    object
dtypes: int64(5), object(4)
memory usage: 35.1+ KB
None

'Employment Type', 'GraduateOrNot', 'FrequentFlyer', 'EverTravelledAbroad' object type

In [113]:
print(train.isnull().sum())
print(test.isnull().sum())

Unnamed: 0             0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
TravelInsurance        0
dtype: int64
Unnamed: 0             0
Age                    0
Employment Type        0
GraduateOrNot          0
AnnualIncome           0
FamilyMembers          0
ChronicDiseases        0
FrequentFlyer          0
EverTravelledAbroad    0
dtype: int64

결측치 없음

X,y 나누기

In [114]:
X_train=train.drop(columns=['TravelInsurance','Unnamed: 0'])
y_train=train['TravelInsurance']

X_test=test

In [115]:
test_name=test['Unnamed: 0']
X_test=test.drop(columns='Unnamed: 0')

In [116]:
X_train.describe()

               Age  AnnualIncome  FamilyMembers  ChronicDiseases
count  1490.000000  1.490000e+03    1490.000000      1490.000000
mean     29.668456  9.386577e+05       4.732215         0.285235
std       2.935416  3.731487e+05       1.612608         0.451678
min      25.000000  3.000000e+05       2.000000         0.000000
25%      28.000000  6.000000e+05       4.000000         0.000000
50%      29.000000  9.000000e+05       5.000000         0.000000
75%      32.000000  1.250000e+06       6.000000         1.000000
max      35.000000  1.800000e+06       9.000000         1.000000

In [117]:
X_test.describe()

              Age  AnnualIncome  FamilyMembers  ChronicDiseases
count  497.000000  4.970000e+02     497.000000       497.000000
mean    29.595573  9.150905e+05       4.814889         0.255533
std      2.848213  3.876023e+05       1.600762         0.436600
min     25.000000  3.000000e+05       2.000000         0.000000
25%     28.000000  5.500000e+05       4.000000         0.000000
50%     29.000000  9.000000e+05       5.000000         0.000000
75%     32.000000  1.200000e+06       6.000000         1.000000
max     35.000000  1.800000e+06       9.000000         1.000000

이상치도 없음

인코딩

In [118]:
from sklearn.preprocessing import LabelEncoder

list=['Employment Type', 'GraduateOrNot', 'FrequentFlyer', 'EverTravelledAbroad']
X_train.loc[:,list]=X_train.loc[:,list].apply(LabelEncoder().fit_transform)
X_test.loc[:,list]=X_test.loc[:,list].apply(LabelEncoder().fit_transform)

In [119]:
print(X_train.head().T)
print(X_test.head().T)

                           0        1        2       3        4
Age                       26       28       33      28       33
Employment Type            1        1        1       1        0
GraduateOrNot              1        1        1       1        1
AnnualIncome         1400000  1100000  1400000  800000  1000000
FamilyMembers              3        4        4       3        5
ChronicDiseases            1        1        0       1        0
FrequentFlyer              0        0        0       0        0
EverTravelledAbroad        1        0        1       0        1
                          0        1       2       3        4
Age                      27       25      32      33       33
Employment Type           0        1       0       0        1
GraduateOrNot             1        1       1       1        1
AnnualIncome         500000  1700000  650000  600000  1500000
FamilyMembers             5        3       3       4        3
ChronicDiseases           0        0       0       0        1
FrequentFlyer             0        1       0       0        1
EverTravelledAbroad       0        0       0       0        1

훈련,검증 데이터셋 나누기

In [120]:
from sklearn.model_selection import train_test_split
nX_train,nX_val, ny_train, ny_val = train_test_split(X_train,y_train, test_size=0.2, random_state=42)

모델학습(랜덤포레스트)

In [121]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(max_depth=7, n_estimators=100)
model.fit(X_train,y_train)

print(model.score(nX_train,ny_train))
print(model.score(nX_val,ny_val))

0.8481543624161074
0.8489932885906041

In [122]:
pred_val=model.predict(nX_val)

In [123]:
from sklearn.metrics import roc_auc_score

roc_auc_score(ny_val, pred_val)

0.7943992104613867

In [124]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(max_depth=7, n_estimators=100)
model.fit(X_train,y_train)

RandomForestClassifier(max_depth=7)

In [209]:
pred=model.predict_proba(X_test)

In [210]:
pred=pd.DataFrame(pred)
pred.columns=['drop','y_pred']
pred=pred.iloc[:,1]
pred.reset_index()

     index    y_pred
0        0  0.162710
1        1  0.971916
2        2  0.154992
3        3  0.282665
4        4  0.942411
..     ...       ...
492    492  0.201766
493    493  0.042374
494    494  0.172510
495    495  0.363099
496    496  0.166201

[497 rows x 2 columns]